{% extends "problem/problem-base.html" %}
{% load common_tags %}

{% block judge_problem_admin_class %}current{% endblock %}

{% block page_title %}
	문제 편집: {{ problem.name }}
{% endblock %}

{% block page_contents %}
	<section class="problem_edit">
		<form action="" method="post">
			{% csrf_token %}
			<fieldset>
				<legend>편집하기</legend>
				{% include "print_form.html" %}
			</fieldset>
			<fieldset class="attachments">
				<legend>첨부파일</legend>
				<table id="attachments">
					<thead>
						<tr>
							<th>#</th>
							<th>파일명</th>
							<th>파일크기</th>
							<th>동작</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div class="uploadbutton">
					<a href="javascript:;" class="button" id="upload_button">업로드</a>
				</div>
			</fieldset>
			<button type="submit">Submit</button>
		</form>
	</section>
	<script language="javascript">
		var table = null;
		$(document).ready(function() {
			table = $("#attachments").dataTable({
				"bProcessing": true,
				"bLengthChange": false,
				"bPaginate": false,
				"bFilter": false,
				"bInfo": false,
				"bSort": false,
				"bSearch": false,
				//"bServerSide": true,
				"iDisplayLength": 100,
				"sAjaxSource": "{% url judge-problem-list-attachments problem.id %}",
				"aaSorting": [[0, "asc"]],
				"aoColumns": [
				null,
				{
					"fnRender": function(obj) {
						return '<a href="' + obj.aData[3] + '">' + obj.aData[1] + '</a>';
					},
					"sWidth": "40%"
				},
				null,
				{
					"fnRender": function(obj) {
						return [
						'<a href="javascript:confirm_attachment_delete(table, \'{% url judge-problem-delete-attachment "" %}' + obj.aData[0] + '\');" class="button-link">delete</a>',
						'<a href="javascript:insert_attachment_link(\'' + obj.aData[3] + '\');" class="button-link">insert</a>'
						].join(' ');
					}
				}
				]
			});

			new AjaxUpload("upload_button", {
				action: "{% url judge-problem-add-attachment problem.id %}",
				data: {
					csrfmiddlewaretoken: $("form input[name=csrfmiddlewaretoken]").val()
				},
				name: "file",
				autoSubmit: true,
				responseType: "json",
				onSubmit: function(file, extension) {
				},
				onComplete: function(file, response) {
					if(response.success) {
						alert("업로드가 성공했습니다.");
						table.fnReloadAjax();
					}
					else
					alert(response.error);
			}});
		});
	</script>
	<script language="javascript" src="/static/js/ajaxupload.js"></script>
{% endblock %}
