{% extends "problem/problem-base.html" %}
{% load common_tags %}
{% load tagging_tags %}

{% block judge_problem_admin_class %}current{% endblock %}
{% block judge_author_class %}current{% endblock %}
{% block judge_problem_class %}{% endblock %}

{% block page_title %}
	문제 편집: {{ problem.slug }}
{% endblock %}

{% block page_contents %}
	<section class="request-rejudge">
		<form method="GET" action="{% url judge-problem-rejudge problem.id %}">
			<input class="button" type="submit" value="Rejudge All Submissions" />
		</form>
	</section>
	<section class="problem-edit">
		<form action="" method="post">
			{% csrf_token %}
			<fieldset>
				<legend>문제 개요</legend>
				{% include "print_form.html" %}
			</fieldset>
			<fieldset>
				<legend>문제 본문</legend>
				{% include "print_form.html" with form=revision_form %}
			</fieldset>
			<fieldset class="attachments">
				<legend>첨부파일</legend>
				<table id="attachments">
					<thead>
						<tr>
							<th>#</th>
							<th>파일명</th>
							<th>파일크기</th>
							<th>동작</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div class="uploadbutton">
					<a href="javascript:;" class="button" id="upload_button">업로드</a>
				</div>
			</fieldset>
			<button type="submit">Submit</button>
		</form>
	</section>
	<script language="javascript">
		var table = null;
		$(document).ready(function() {
			table = $("#attachments").dataTable({
				"bProcessing": true,
				"bLengthChange": false,
				"bPaginate": false,
				"bFilter": false,
				"bInfo": false,
				"bSort": false,
				"bSearch": false,
				//"bServerSide": true,
				"iDisplayLength": 100,
				"sAjaxSource": "{% url judge-problem-list-attachments problem.id %}",
				"aaSorting": [[0, "asc"]],
				"aoColumns": [
				null,
				{
					"fnRender": function(obj) {
						return '<a href="' + obj.aData[3] + '">' + obj.aData[1] + '</a>';
					},
					"sWidth": "40%"
				},
				null,
				{
					"fnRender": function(obj) {
						return [
						'<a href="javascript:confirm_attachment_delete(table, \'{% url judge-problem-delete-attachment "" %}' + obj.aData[0] + '\');" class="button-link">delete</a>',
						'<a href="javascript:insert_attachment_link(\'' + obj.aData[3] + '\');" class="button-link">insert</a>'
						].join(' ');
					}
				}
				]
			});

			new AjaxUpload("upload_button", {
				action: "{% url judge-problem-add-attachment problem.id %}",
				data: {
					csrfmiddlewaretoken: $("form input[name=csrfmiddlewaretoken]").val()
				},
				name: "file",
				autoSubmit: true,
				responseType: "json",
				onSubmit: function(file, extension) {
				},
				onComplete: function(file, response) {
					if(response.success) {
						alert("업로드가 성공했습니다.");
						table.fnReloadAjax();
					}
					else
					alert(response.error);
			}});

			$("#id_tags").superblyTagField({
				allowNewTags: true,
				showTagsNumber: 10,
				preset: $("#id_tags").val().split(","),
				{% tags_for_model judge.Problem as tags %}
				tags: [
					{% for tag in tags %}
						"{{ tag.name }}",
					{% endfor %}
					]});
			$("#id_slug").focus();
					
		});

	/** aceize **/
	$(function() {
		$.each(['id_description', 'id_input', 'id_output', 'id_note'], function(idx, id) {
			var tf = $('#' + id);
			aceize(id, { submit_handler: true, fullscreen: true, preview: true, cheatsheet: 'markdown-cheatsheet' });
		});
	});
	</script>
	<script language="javascript" src="/static/js/ajaxupload.js"></script>
{% endblock %}

{% block other_blocks %}
	{% include "markdown_cheatsheet.html" %}
{% endblock %}
