{% extends "judge-base.html" %}
{% load common_tags %}
{% block title %}
	{{ title }}
{% endblock %}


{% block page_title %}
	{{ title }}
{% endblock %}

{% block page_tabs %}
{% endblock %}

{% block judge_problem_class %}current{% endblock %}
{% block page_contents %}
	{% load judge_tags %}
	{% load common_tags %}
	<section>
		{% include "problem/problemlist_block.html" %}
	</section>
	<section class="pagination">
		{{ pagination.render }}
	</section>
	{% if filters %}
	<section>
		<form method="GET" action="">
			<fieldset class="kor problem-filter">
				<legend>골라보기</legend>
				<dl>
					<dt>
						문제 분류
					</dt>
					<dd>
						<select name="tag">
							<option value=""></option>
							{% for tag in tags %}
								<option {% if tag == filters.tag %}selected{% endif %} value="{{ tag }}">{{ tag }}</option>
							{% endfor %}
						</select>
					</dd>
					<dt>
						출처
					</dt>
					<dd>
						<select name="source">
							<option value=""></option>
							{% for source in sources %}
								<option {% if source == filters.source %}selected{% endif %} value="{{ source }}">{{ source }}</option>
							{% endfor %}
						</select>
					</dd>
					<dt>
						출제자
					</dt>
					<dd>
						<select name="author">
							<option value=""></option>
							{% for author in authors %}
								<option {% if author == filters.author %}selected{% endif %} value="{{ author }}">{{ author }}</option>
							{% endfor %}
						</select>
					</dd>
					<dt>
						적용
					</dt>
					<dd>
						<button type="submit">적용하기</button>
					</dd>
				</dl>
			</fieldset>
		</form>
	</section>
	{% endif %}
{% endblock %}
