{% extends "judge-base.html" %}
{% load common_tags %}
{% block title %}
	{{ title }}
{% endblock %}


{% block page_title %}
	{{ title }}
{% endblock %}

{% block page_tabs %}
{% endblock %}

{% block judge_problem_class %}current{% endblock %}
{% block page_contents %}
	{% load judge_tags %}
	{% load common_tags %}
	<section>
		<table class="problem_list">
			<thead>
				<tr>
					<th class="accepted">풀었나?</th>
					<th class="id">
						{% if order_by == "slug" %}
							<a href="{% url judge-problem-list "-slug" 1 %}?{{ get_params }}">
						{% else %}
							<a href="{% url judge-problem-list "slug" 1 %}?{{ get_params }}">
						{% endif %}문제ID
						{% if order_by == "slug" %} ↓ {% endif %}
						{% if order_by == "-slug" %} ↑ {% endif %}</a>
					</th>
					<th class="name">
						{% if order_by == "name" %}
							<a href="{% url judge-problem-list "-name" 1 %}?{{ get_params }}">
						{% else %}
							<a href="{% url judge-problem-list "name" 1 %}?{{ get_params }}">
						{% endif %}문제 제목
						{% if order_by == "name" %} ↓ {% endif %}
						{% if order_by == "-name" %} ↑ {% endif %}</a>
					</th>
					<th class="writer">
						{% if order_by == "user" %}
							<a href="{% url judge-problem-list "-user" 1 %}?{{ get_params }}">
						{% else %}
							<a href="{% url judge-problem-list "user" 1 %}?{{ get_params }}">
						{% endif %}출제자
						{% if order_by == "user" %} ↓ {% endif %}
						{% if order_by == "-user" %} ↑ {% endif %}</a>
					</th>
					<th class="submissions">
						{% if order_by == "submissions_count" %}
							<a href="{% url judge-problem-list "-submissions_count" 1 %}?{{ get_params }}">
						{% else %}
							<a href="{% url judge-problem-list "submissions_count" 1 %}?{{ get_params }}">
						{% endif %}답안수
						{% if order_by == "submissions_count" %} ↓ {% endif %}
						{% if order_by == "-submissions_count" %} ↑ {% endif %}</a>
					</th>
					<th class="accepted_ratio">
						{% if order_by == "ratio" %}
							<a href="{% url judge-problem-list "-ratio" 1 %}?{{ get_params }}">
						{% else %}
							<a href="{% url judge-problem-list "ratio" 1 %}?{{ get_params }}">
						{% endif %}정답비율
						{% if order_by == "ratio" %} ↓ {% endif %}
						{% if order_by == "-ratio" %} ↑ {% endif %}</a>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for problem in pagination.page.object_list %}
					<tr>
						<td class="accepted">
							{% if user.is_authenticated %}
								{% get_has_solved problem by user as solved %}
								{% if solved %}
									네!
								{% endif %}
							{% endif %}
						</td>
						<td class="id">
							<a href="{% url judge-problem-read problem.slug %}">{{ problem.slug }}</a>
						</td>
						<td class="name">
							<a href="{% url judge-problem-read problem.slug %}">{{ problem.name }}</a>
						</td>
						<td class="writer">
							{{ problem.user|print_username }}
						</td>
						<td class="submissions">
							<a href="{% url judge-submission-recent %}?problem={{ problem.slug }}">
								{{ problem.submissions_count }}
							</a>
						</td>
						<td class="accepted">
							<a href="{% url judge-problem-stat problem %}">
								{% percentage problem.accepted_count problem.submissions_count %}%
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
	<section class="pagination">
		{{ pagination.render }}
	</section>
	{% if use_filters %}
	<section>
		<form method="GET" action="">
			<fieldset class="kor problem-filter">
				<legend>골라보기</legend>
				<dl>
					<dt>
						문제 분류
					</dt>
					<dd>
						<select name="tag">
							<option value=""></option>
							{% for tag in tags %}
								<option {% if tag == filters.tag %}selected{% endif %} value="{{ tag }}">{{ tag }}</option>
							{% endfor %}
						</select>
					</dd>
					<dt>
						출처
					</dt>
					<dd>
						<select name="source">
							<option value=""></option>
							{% for source in sources %}
								<option {% if source == filters.source %}selected{% endif %} value="{{ source }}">{{ source }}</option>
							{% endfor %}
						</select>
					</dd>
					<dt>
						출제자
					</dt>
					<dd>
						<select name="author">
							<option value=""></option>
							{% for author in authors %}
								<option {% if author == filters.author %}selected{% endif %} value="{{ author }}">{{ author }}</option>
							{% endfor %}
						</select>
					</dd>
					<dt>
						적용
					</dt>
					<dd>
						<button type="submit">적용하기</button>
					</dd>
				</dl>
			</fieldset>
		</form>
	</section>
	{% endif %}
{% endblock %}
