{% extends "problem/problem-base.html" %}
{% load common_tags %}

{% block judge_problem_history_class %}current{% endblock %}
{% block judge_author_class %}current{% endblock %}
{% block judge_problem_class %}{% endblock %}

{% block page_title %}
	History: {{ problem.slug }}@{{ revision.id }}
{% endblock %}

{% block page_contents %} 
	{% load judge_tags %}
	<section class="problem_constraints">
		<h4>제한</h4>
		<p class="kor">
			<ul>
			    <li>시간 제한: {{ revision.time_limit }}ms</li>
			    <li>메모리 제한: {{ revision.memory_limit }}kb</li>
			</ul>
		</p>
	</section>
	<section class="problem_statement">
		<h4>문제</h4>
		<p class="kor">
			{{ revision.description|render_text }}
		</p>
	</section>
	<section class="problem_input">
		<h4>입력</h4>
		<p class="kor">
			{{ revision.input|render_text }}
		</p>
	</section>
	<section class="problem_output">
		<h4>출력</h4>
		<p class="kor">
			{{ revision.output|render_text }}
		</p>
	</section>
	<section class="problem_sample_input">
		<h4>예제 입력</h4>
		<pre>{{ revision.sample_input }}</pre>
	</section>
	<section class="problem_sample_output">
		<h4>예제 출력</h4>
		<pre>{{ revision.sample_output }}</pre>
	</section>
	<section class="problem_note">
		<h4>노트</h4>
		<p class="kor">
			{{ revision.note|render_text }}
		</p>
	</section>
{% endblock %}
