{% extends "judge-base.html" %}
{% load common_tags %}
{% block title %} 
	{{ problem.slug }} 
{% endblock %}

{% block judge_problem_class %}current{% endblock %}

{% block page_title %}
	{{ problem.name }}
{% endblock %}

{% block page_tabs %}
	<nav>
		<ul class="tab-switch">
			<li>
				<a class="{% block judge_problem_read_class %}{% endblock %}" href="{% url judge-problem-read problem.slug %}" rel="tooltip" title="Read problem">
					문제
				</a>
			</li>
			<li>
				<a class="{% block judge_problem_submit_class %}{% endblock %}" href="{% url judge-problem-submit problem.slug %}" rel="tooltip" title="Submit a solution">
					답안 제출
				</a>
			</li>
			<li>
				<a class="{% block judge_problem_stats_class %}{% endblock %}" href="{% url judge-problem-stat problem.slug %}" rel="tooltip" title="Problem statistics">
					통계
				</a>
			</li>
			{% if user.is_superuser or user == problem.user %}
				<li>
					<a class="{% block judge_problem_admin_class %}{% endblock %}" href="{% url judge-problem-edit problem.id %}" rel="tooltip" title="Administer problem">
						편집
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endblock %}
