{% extends "problem/problem-base.html" %}
{% load common_tags %}


{% block judge_problem_read_class %}current{% endblock %}
{% block judge_problem_class %}current{% endblock %}

{% block page_contents %} 
	{% load judge_tags %}
	{% include "problem/info_block.html" %}
	<section class="problem_statement">
		<h4>문제</h4>
		<p class="kor">
			{{ revision.description|render_text }}
		</p>
	</section>
	<section class="problem_input">
		<h4>입력</h4>
		<p class="kor">
			{{ revision.input|render_text }}
		</p>
	</section>
	<section class="problem_output">
		<h4>출력</h4>
		<p class="kor">
			{{ revision.output|render_text }}
		</p>
	</section>
	<section class="problem_sample_input">
		<h4>예제 입력</h4>
		<pre>{{ revision.sample_input }}</pre>
	</section>
	<section class="problem_sample_output">
		<h4>예제 출력</h4>
		<pre>{{ revision.sample_output }}</pre>
	</section>
	<section class="problem_note">
		<h4>노트</h4>
		<p class="kor">
			{{ revision.note|render_text }}
		</p>
	</section>
{% endblock %}
{% block other_blocks %}
	{% with commentobject=problem hide_comments=1 %}
		{% include "comment_block.html" %}
	{% endwith %}
{% endblock %}
