{% extends "problem/problem-base.html" %}
{% load common_tags %}

{% block judge_stats_class %}current{% endblock %}
{% block page_title %}
	통계: {{ problem.name }}
{% endblock %}
{% block page_contents %}
	{% load judge_tags %}
	{% load common_tags %}
	{% include "problem/info_block.html" %}
	{% get_has_solved problem by user as solved %}
	<section>
		<h4>푼 사람들</h4>
		<table class="solver_list">
			<thead>
				<tr>
					<th class="solver">푼 사람</th>
					<th class="when">
						{% if order_by == "when" %}
							<a href="{% url judge-problem-stat problem.slug "-when" 1 %}">
						{% else %}
							<a href="{% url judge-problem-stat problem.slug "when" 1 %}">
							{% endif %}처음 푼 시간
						{% if order_by == "when" %} ↓ {% endif %}
						{% if order_by == "-when" %} ↑ {% endif %}</a>
					</th>
					<th class="fastest"> 
						{% if order_by == "fastest" %}
							<a href="{% url judge-problem-stat problem.slug "-fastest" 1 %}">
						{% else %}
							<a href="{% url judge-problem-stat problem.slug "fastest" 1 %}">
							{% endif %}가장 빠른 답안
						{% if order_by == "fastest" %} ↓ {% endif %}
						{% if order_by == "-fastest" %} ↑ {% endif %}</a>
					</th>
					<th class="shortest">
						{% if order_by == "shortest" %}
							<a href="{% url judge-problem-stat problem.slug "-shortest" 1 %}">
						{% else %}
							<a href="{% url judge-problem-stat problem.slug "shortest" 1 %}">
						{% endif %}가장 짧은 답안
						{% if order_by == "shortest" %} ↓ {% endif %}
						{% if order_by == "-shortest" %} ↑ {% endif %}</a>
					</th>
					<th class="incorrect">
						{% if order_by == "incorrect_tries" %}
							<a href="{% url judge-problem-stat problem.slug "-incorrect_tries" 1 %}">
						{% else %}
							<a href="{% url judge-problem-stat problem.slug "incorrect_tries" 1 %}">
							{% endif %}실패 횟수
						{% if order_by == "incorrect_tries" %} ↓ {% endif %}
						{% if order_by == "-incorrect_tries" %} ↑ {% endif %}</a>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for solver in pagination.page.object_list %}
					<tr>
						<td class="solver">
							{{ solver.user|print_username }}
						</td>
						<td class="when">
							{{ solver.when|print_datetime }}
						</td>
						<td class="name">
							{% if user == solver.user or user.is_superuser or solved %}
								<a href="{% url judge-submission-details solver.fastest_submission.id %}">
							{% endif %}
								{{ solver.fastest_submission.time }}ms 
							{% if user == solver.user or user.is_superuser or solved %}
								</a>
							{% endif %}
						</td>
						<td class="writer">
							{% if user == solver.user or user.is_superuser or solved %}
								<a href="{% url judge-submission-details solver.shortest_submission.id %}">
							{% endif %}
							{{ solver.shortest_submission.length|print_length }}
							{% if user == solver.user or user.is_superuser or solved %}
								</a>
							{% endif %}
						</td>
						<td class="incorrect">
							{{ solver.incorrect_tries }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
	<section class="pagination">
		{{ pagination.render }}
	</section>
{% endblock %}
