{% extends "problem/problem-base.html" %}
{% load common_tags %}

{% block judge_problem_submit_class %}current{% endblock %}

{% block page_title %}
	제출하기: {{ problem.name }}
{% endblock %}

{% block page_contents %} 
	{% include "problem/info_block.html" %}
	<section>
		<form action="" method="POST" class="kor">
			{% csrf_token %}
			<fieldset>
				<legend>소스 코드</legend>
				{% include "print_form.html" %}
			</fieldset>
			<button type="submit">제출하기</button> 
			or
			<a href="{% url "judge-problem-read" problem.slug %}">돌아가기</a>
		</form>
	</section>

	<script language="javascript">

		/** remember last language with cookie **/
		$(function() {
			var last_language = $.cookie('last_submitted_language');
			if (last_language)
				$('#id_language').val(last_language);

			$('#id_language').closest('form').submit(function() {
				$.cookie('last_submitted_language', $('#id_language').val(), { path: '/', expires: 365 });
			});
		});

		/** mirrorize code textarea **/
		$(function() {
			var editor = mirrorize('id_source', { fullscreen: true, submit_handler: true });
			if (!editor)
				return;

			var mapping_to_ace = {
				java: ['clike', 'text/x-java'],
				scala: ['clike', 'text/x-scala'],
        hs: ['haskell', 'haskell'],
        py3: ['python', 'python'],
				py: ['python', 'python'],
				js: ['javascript', 'javascript'],
				rb: ['ruby', 'ruby'],
        cpp: ['clike', 'text/x-c++src'],
        c: ['clike', 'text/x-csrc'],
        rust: ['rust', 'rust'],
        go: ['go', 'go'],
			};
      var already_loaded = {};
	
			$('#id_language').change(function() {
        console.log("val " + $(this).val());
				var ace_lang = mapping_to_ace[$(this).val()];
				if (!ace_lang) ace_lang = ['markdown', 'markdown'];
        console.log(ace_lang);

        var js_name = ace_lang[0];
        var mode_name = ace_lang[1];
				var load_script = function() {
          editor.setOption("mode", mode_name);
				};
        if (!(js_name in already_loaded)) {
          console.log("trying to load " + '/static/codemirror/mode/' + js_name + '/' + js_name + '.js');
          $.getScript('/static/codemirror/mode/' + js_name + '/' + js_name + '.js', function() {
            load_script(); 
            already_loaded[js_name] = true;
          });
        }
        else {
          load_script();
        }
			}).change();
		});

		$(function() {
			$('#id_source').closest('form').submit(function(e) {
				lang = $('#id_language').val();
				code = $('#id_source').val();
				if (lang == 'cpp' && /fflush\s*\(\s*stdin\s*\)/.test(code))
				{
					alert('fflush(stdin)은 비표준이며 파일을 입력에 리디렉션하는 경우 기대대로 작동하지 않습니다. 자세한 내용은 왼쪽에서 검색해 보세요.');
					e.preventDefault();
					return false;
				}
			});
		});
	</script>
{% endblock %}
