[submodule "libs/misaka"]
	path = libs/misaka
	url = git://github.com/beingryu/misaka.git
[submodule "ace-builds"]
	path = ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "libs/django-registration"]
	path = libs/django-registration
	url = https://github.com/macropin/django-registration.git
