venv
*swp
*.pyc
*.sqlite3
designs

local_settings.py

.vagrant

www/profile_logs
www/media
www/judge/work
www/whoosh_index

www/judge/tmp
www/judge/lxc.log

www_static/

*.iml
.idea/
atlassian-ide-plugin.xml
ansible/roles/
