@charset "utf-8";

/* 광역 효과 ***************************************************/

/* 링크 밑줄 is so 1990 */
a { text-decoration: none; }

/* 폰트 리셋: 버튼들 빼곤 전부 나눔고딕으로 치환한다 */
body, textarea, input, select { font-family: NanumGothic,나눔고딕; }
.button-link { font-family: 'PT Sans', Arial; }

/* 사용자 핸들은 굵은 글씨로 */
a.username { font-weight: bold; }

/* 테이블 속성 오버라이드 */

#main_section td, #main_section th {
	height: 0px;
	padding: 10px 4px;
	vertical-align: top;
}

/* 글로벌 엘레멘트들 ***************************************************/

section.navigation header h1 { 
	font-size: 11px; 
	font-style: normal;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 12px;
}

/* 코멘트 목록 */
ul.comments {
	border-top: 1px solid;
	border-color: #D6D6D6;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

ul.comments li.comment {
	background:none;
	display: block;
	list-style:none;
	padding: 5px 5px;
	margin: 0;
	border-bottom: 1px solid;
	border-color: #D6D6D6;
	min-height: 60px;
	overflow: hidden;
	position: relative;
}
ul.comments li.comment dt.comment_user {
	width: 80px;
	overflow: hidden;
	margin-right: 10px;
	float: left;
	text-align: center;
}
ul.comments li.comment dd.comment_content {
	display: table-cell;
}
ul.comments li.comment dd.comment_content p {
	color: #444
}
ul.comments.background-color .comment:nth-child(odd) {
	background-color: #F4F4F4;
}
ul.comments .comment .datetime {
	color: #aaa;
	font-size: 90%;
}
ul.comments li.comment .operations {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
ul.comments li.comment .operations .button-link {
	font-size: 10px;
	line-height: 130%;
}

ul.comments li.comment_form form {
	margin-top: 0px;
}

ul.comments li.comment_form dd {
	position: static;
}

ul.comments li.comment_form textarea {
	width: 480px;
	height: 70px;
}

ul.comments li.comment_form input.button {
	position: absolute;
	font-size: 12px;
	right: 5px;
	top: 5px;
}

/* 페이지네이션 */

section.pagination {
	padding: 8px;
}

div.pagination {
	width: 100%;
	text-align: center;
	display:block;
	clear:both;
	line-height: 35px;
	font-size:12px;
}

div.pagination a:link, .pagination a:visited {
	padding:7px 9px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	width:22px;
	font-weight:normal;
}

div.pagination a:hover {
	background-color:#DDEEFF;
	border:1px solid #BBDDFF;
}

div.pagination .active_link {
	color: #036 !important;
	border:1px solid #BBDDFF !important;
	background-color:#DDEEFF !important;
	cursor:default;
}

div.pagination .disabled_tnt_pagination {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
}

/* 페이지별 엘레멘트들 ***************************************************/

/* 아바타 변경 */
section.avatar_change img.selected {
	background-color:#111;
}

/* 포럼 글 목록 */
table.forum_list tbody td.title_col {
	text-align: left;
}

table.forum_list .num_col { width: 8%; }
table.forum_list .title_col { width: 50%; }
table.forum_list .user_col, 
table.forum_list .lastcommenter_col { width: 12%; }
table.forum_list .comments_col { width: 8%; }
table.forum_list .updated_col { width: 10%; }
table.forum_list span.none { color: #999; }
table.forum_list span.has_comment, 
table.forum_list span.some_discussions { color: #666; }
table.forum_list span.heated_discussions, 
table.forum_list span.very_heated_discussions, 
table.forum_list span.wow { color: #666; font-weight: bold; }

/* 저지 문제 목록 */

table.problem_list .accepted { width: 8%; }
table.problem_list .id { width: 12%; }
table.problem_list .name { width: 40%; }
table.problem_list .writer { width: 16%; }
table.problem_list .submissions { width: 12%; }
table.problem_list .accepted { width: 12%; }
table.problem_list tbody .id,
table.problem_list tbody .name {
	text-align: left;
}

/* 저지 답안 목록 */
table.submission_list td, table.submission_list th { text-align: left; }
table.submission_list .id { width: 8%; }
table.submission_list .problem { width: 14%; }
table.submission_list .user { width: 14%; }
table.submission_list .language { width: 8%; }
table.submission_list .length { width: 8%; }
table.submission_list .state { width: 12%; }
table.submission_list .stats { width: 18%; }
table.submission_list .submitted_on { width: 18%; }
table.submission_list tbody .submission_state a { text-decoration: underline; }
.submissionRECEIVED * { color: silver; }
.submissionCOMPILING * { color: gray; }
.submissionCOMPILE_ERROR * { font-weight: bold; color: rgb(64, 64, 255); }
.submissionACCEPTED * { font-weight: bold; color: rgb(255, 64, 64); }
.submissionWRONG_ANSWER * { font-weight: bold; color: rgb(64, 128, 64); }
.submissionRUNTIME_ERROR * { font-weight: bold; color: rgb(64, 196, 64); }
.submissionTIME_LIMIT_EXCEEDED * { font-weight: bold; color: rgb(64, 64, 128); }
.submissionCANT_BE_JUDGED * { font-weight: bold; color: rgb(64, 255, 64); text-decoration: underline; }
.submissionREJUDGE_REQUESTED * { color: silver; }

/* 뉴스 피드 */
ul.newsfeed {
	margin:0;
	padding:0;
	width: 590px;
}
ul.newsfeed li {
	background-position:10px 10px;
	background-repeat:no-repeat;
	background-image:url('/static/images/icons/icon_event.png');
	list-style:none;
	display:block;
	padding:5px 5px 5px 35px;
	overflow:hidden;
	margin: 0px;;
	line-height:100%;
	width: 90%;
}
ul.newsfeed li.wiki-edit { background-image:url('/static/images/icons/icon_nav_articles.png'); }
ul.newsfeed li.commented { background-image:url('/static/images/icons/icon_notification_information.png'); }
ul.newsfeed li.posted { background-image:url('/static/images/icons/icon_event_log.png'); }
ul.newsfeed li .newsfeed-timestamp {
	margin-top: 4px;
	margin-left: 16px;
	float:right;
	font-size:93%;
}

/* 할일들:
 * kor, eng 클래스 지우기
 *
 */

/* .markup-intro td { */
/* 	text-align:left; */
/* 	padding-left: 12px; */
/* } */
/*  */
/* a.missing { */
/* 	color: #2E43AE; */
/* } */
/*  */
/* .problem_edit input, */
/* .problem_edit textarea, */
/* form dd select, */
/* .comment_form textarea, */
/* .kor, */
/* .wiki-history *, */
/* .markup-intro, */
/* article header h2, */
/* div.wiki-text *, */
/* div.wiki-edit textarea, */
/* div.wiki-edit legend, */
/* div.wiki-edit input, */
/* ul.tab-switch li a, */
/* ul#breadcrumbs li, */
/* section.sidebar, /* sidebar item */ */
/* #main-nav ul li a, /* major menu item */ */
/* #main-nav ul li li a /* minor menu item */ */
/* { */
/* 	font-family:NanumGothic,나눔고딕 !important; */
/* } */
/*  */
/* .eng { */
/* 	font-family:'PT Sans', Arial, sans-serif !important; */
/* } */
/*  */
/* .added { */
/* 	background-color: #43ae2e; */
/* 	color: white; */
/* } */
/* .removed { */
/* 	background-color: #ae432e; */
/* 	color: white; */
/* } */
/*  */
/* article section { */
/* 	font-size: 15px; */
/* } */
/*  */
/* article img.selected { */
/* 	background-color:#111; */
/* } */
/*  */
/* article header h3 { */
/* 	font-size:131%; */
/* 	float:left; */
/* } */
/*  */
/*  */
/* .comments { */
/* 	border-top: 1px solid; */
/* 	border-color: #D6D6D6; */
/* 	overflow: hidden; */
/* 	margin:0; */
/* 	padding:0; */
/* } */
/* .comments .comment { */
/* 	background:none; */
/* 	display: block; */
/* 	list-style:none; */
/* 	padding: 5px 5px; */
/* 	margin: 0; */
/* 	border-bottom: 1px solid; */
/* 	border-color: #D6D6D6; */
/* 	min-height: 60px; */
/* 	overflow: hidden; */
/* 	position: relative; */
/* } */
/* .comments .comment .comment_user { */
/* 	width: 80px; */
/* 	overflow: hidden; */
/* 	margin-right: 10px; */
/* 	float: left; */
/* 	text-align: center; */
/* } */
/* .comments .comment .comment_content { */
/* 	display: table-cell; */
/* 	font-size: 90%; */
/* } */
/* .comments .comment .comment_content p { */
/* 	color: #444 */
/* } */
/* .comments.background-color .comment:nth-child(odd) { */
/* 	background-color: #F4F4F4; */
/* } */
/*  */
/* .comments.background-color .comment:nth-child(even) { */
/* 	/*background-color: #EAEAEA;*/ */
/* } */
/* .comments .comment .datetime { */
/* 	color: #aaa; */
/* 	font-size: 80%; */
/* } */
/* .comments .comment .operations { */
/* 	position: absolute; */
/* 	bottom: 5px; */
/* 	right: 5px; */
/* } */
/* .comments .comment .operations .button-link { */
/* 	font-size: 10px; */
/* 	line-height: 130%; */
/* } */
/* .comments .comment-reply-form { */
/* 	margin-left: 55px; */
/* 	background-color: blue; */
/* } */
/*  */
/* .comments.post .comment { */
/* 	background-color: #fff; */
/* 	border: 0; */
/* } */
/* .comments.post { */
/* 	border: 0; */
/* } */
/*  */
/* .comment form { */
/* 	margin: 0; */
/* 	padding: 0; */
/* } */
/*  */
/* .comment_form dd { */
/* 	position: static; */
/* 	top: 0px !important; */
/* 	left: 0px !important; */
/* } */
/*  */
/* .comment_form textarea { */
/* 	width: 480px; */
/* 	height: 70px; */
/* } */
/*  */
/* .comment_form input.button { */
/* 	position: absolute; */
/* 	right: 5px; */
/* 	top: 5px; */
/* } */
/*  */
/* .comment_reply_form { */
/* 	margin-left: 24px !important; */
/* } */
/*  */
/* a.userlink { */
/* 	text-decoration: none; */
/* 	font-family:NanumGothic,나눔고딕 !important; */
/* 	font-size: 13px !important; */
/* 	font-weight: bold !important; */
/* } */
/*  */
/* .comment-delete  { */
/* 	padding: 25px !important; */
/* } */
/*  */
/* .highlight { */
/* 	background-color: #eee; */
/* 	border: 1px solid #ccc; */
/* } */
/*  */
/* .forumlist, .forumlist ul, .forumlist ul ul { */
/* 	overflow:hidden; */
/* 	margin:0; */
/* 	padding:0; */
/* } */
/* .forumlist li { */
/* 	font-size: 14px; */
/* 	display:block; */
/* 	list-style:none; */
/* 	background:none; */
/* 	padding:0; */
/* 	margin:0; */
/* 	height:100%; */
/* } */
/* .forumlist li li { float:left; } */
/* .forumlist .forumlist-header { */
/* 	width:100%; */
/* 	padding-bottom:10px; */
/* 	border-bottom:1px solid; */
/* 	border-color: #ccc; */
/* } */
/* .forumlist-header li, .forumlist-entry li { */
/* 	text-align:center; */
/* 	padding:0; */
/* } */
/* .forumlist-header li { font-weight: bold; } */
/* .forumlist-empty { width: 100%; } */
/*  */
/*  */
/* .forumlist-entry li { color: #999; font-size: 14px; text-align: center; } */
/* .forumlist-num { width: 8%; } */
/* .forumlist-title { width: 50%; } */
/* .forumlist-user, .forumlist-lastcommenter { width: 12%; } */
/* .forumlist-comments { width: 8%; } */
/* .forumlist-updated { width: 10%; } */
/* .forumlist-title a { text-decoration: none; } */
/* .forumlist-entry .forumlist-title { text-align: left !important; } */
/* .forumlist .forumlist-entry ul { */
/* 	margin-top: 5px; */
/* 	margin-bottom:5px; */
/* } */
/* .forumlist .forumlist-entry { */
/* 	padding:0; */
/* 	line-height: 100%; */
/* 	margin:0; */
/* 	border-bottom:1px solid; */
/* 	border-color: #ccc; */
/* 	overflow:hidden; */
/* } */
/* .forumlist .forumlist-entry { background-color: #f2f2f2; } */
/* .forumlist .forumlist-entry:nth-child(2n+1) { background-color: #fafafa; } */
/* .forumlist .forumlist-entry:hover { background-color: #faf2f2; } */
/* .forumlist .forumlist-entry span.hot { color: #c33; } */
/*  */
/* .none { color: #999; } */
/* .has_comment, .some_discussions { color: #666; } */
/* .heated_discussions, .very_heated_discussions, .wow { color: #666; font-weight: bold; } */
/*  */
/* .pagination { */
/* 	width: 100%; */
/* 	text-align: center; */
/* 	display:block; */
/* 	height:22px; */
/* 	line-height:21px; */
/* 	clear:both; */
/* 	padding-top:3px; */
/* 	font-size:12px; */
/* 	font-weight:normal; */
/* } */
/*  */
/* .pagination a:link, .pagination a:visited { */
/* 	padding:7px; */
/* 	padding-top:2px; */
/* 	padding-bottom:2px; */
/* 	border:1px solid #EBEBEB; */
/* 	margin-left:10px; */
/* 	text-decoration:none; */
/* 	background-color:#F5F5F5; */
/* 	width:22px; */
/* 	font-weight:normal; */
/* } */
/*  */
/* .pagination a:hover { */
/* 	background-color:#DDEEFF; */
/* 	border:1px solid #BBDDFF; */
/* } */
/*  */
/* .pagination .active_link { */
/* 	color: #036 !important; */
/* 	border:1px solid #BBDDFF !important; */
/* 	background-color:#DDEEFF !important; */
/* 	cursor:default; */
/* } */
/*  */
/* .pagination .disabled_tnt_pagination { */
/* 	padding:7px; */
/* 	padding-top:2px; */
/* 	padding-bottom:2px; */
/* 	border:1px solid #EBEBEB; */
/* 	margin-left:10px; */
/* 	text-decoration:none; */
/* 	background-color:#F5F5F5; */
/* 	color:#D7D7D7; */
/* 	cursor:default; */
/* } */
/*  */
/* .newsfeed { */
/* 	margin:0; */
/* 	padding:0; */
/* 	width: 590px; */
/* } */
/* .newsfeed li { */
/* 	background-position:10px 10px; */
/* 	background-repeat:no-repeat; */
/* 	background-image:url('/static/images/icons/icon_event.png'); */
/* 	list-style:none; */
/* 	display:block; */
/* 	padding:5px 5px 5px 35px; */
/* 	overflow:hidden; */
/* 	margin: 0px;; */
/* 	line-height:100%; */
/* 	width: 90%; */
/* } */
/* .newsfeed li.wiki-edit { */
/* 	background-image:url('/static/images/icons/icon_nav_articles.png'); */
/* } */
/* .newsfeed li a { */
/* 	text-decoration: none; */
/* } */
/* .newsfeed li.commented { background-image:url('/static/images/icons/icon_notification_information.png'); } */
/* .newsfeed li.posted { background-image:url('/static/images/icons/icon_event_log.png'); } */
/* .newsfeed li .newsfeed-timestamp { */
/* 	margin-top: 4px; */
/* 	margin-left: 16px; */
/* 	float:right; */
/* 	font-size:93%; */
/* } */
/* .newsfeed li .newsfeed-meta a { text-decoration:none; } */
/* article header h2 { width: 500px; } */
/*  */
/* /* online judge */ */
/*  */
/* .tabular, .tabular ul, .tabular li */
/* { */
/* 	margin:0; */
/* 	padding:0; */
/* } */
/*  */
/* .tabular { */
/* 	width: 100%; */
/* 	margin-bottom: 16px; */
/* 	font-size: 13px; */
/* } */
/* .tabular li { */
/* 	display: block; */
/* 	list-style: none; */
/* 	overflow: hidden; */
/* 	background: none; */
/* 	padding-top: 2px; */
/* 	padding-bottom: 2px; */
/* } */
/* .tabular li.header { */
/* 	font-weight: bold; */
/* } */
/* .tabular li.content { */
/* 	background-color: #f0f0f0; */
/* 	border-top: 1px solid; */
/* 	border-bottom: 1px solid;; */
/* 	border-color: silver; */
/* } */
/* .tabular li li { */
/* 	list-style: none; */
/* 	background: none; */
/* 	text-align: center; */
/* 	float: left; */
/* } */
/* .probleminfo a { text-decoration: none; } */
/* .probleminfo ul li { */
/* 	width: 20%; */
/* } */
/* .probleminfo li.source { */
/* 	width: 40%; */
/* } */
/* .probleminfo li.category { */
/* 	width: 40%; */
/* } */
/* .submissioninfo a { text-decoration: none; } */
/* .submissioninfo ul li { */
/* 	width: 14%; */
/* } */
/* .submission_message .highlight { */
/* 	margin-left: 32px; */
/* } */
/* .sourcecode .highlight { */
/* 	margin-left: 32px; */
/* } */
/* .problem_statement p, .problem_statement pre, .problem_statement ul { */
/* 	margin-left: 16px; */
/* 	margin-bottom: 16px; */
/* } */
/* .problem_statement pre { */
/* 	font-family: monospace; */
/* 	background-color: #f0f0f0; */
/* 	padding: 12px; */
/* 	border: 1px solid silver; */
/* } */
/*  */
/* .submissions td, .submissions th,  */
/* .submissions_accepted td, .submissions_accepted th { */
/* 	padding-left: 8px; */
/* 	text-align: left; */
/* } */
/* .submissions td, .submissions th, */
/* .submissions_accepted td, .submissions_accepted th  */
/* { */
/* 	height: 24px; */
/* 	font-size: 13px; */
/* } */
/* .submissions_accepted td, .submissions_accepted th { */
/* 	width: 10%; */
/* } */
/* .submissions_accepted td.user, .submissions_accepted th.user, */
/* .submissions_accepted td.stats, .submissions_accepted th.stats */
/* { */
/* 	width: 30%; */
/* } */
/* .submissions a, */
/* .submissions_accepted a */
/* { text-decoration: none; } */
/* .submissionRECEIVED { color: silver; } */
/* .submissionCOMPILING { color: gray; } */
/* .submissionCOMPILE_ERROR { font-weight: bold; color: rgb(64, 64, 255); } */
/* a .submissionCOMPILE_ERROR { text-decoration: underline; } */
/* /* Accepted */ */
/* .submissionACCEPTED { font-weight: bold; color: rgb(255, 64, 64); } */
/* /* Wrong Answer */ */
/* .submissionWRONG_ANSWER { font-weight: bold; color: rgb(64, 128, 64); } */
/* /* Runtime Error */ */
/* .submissionRUNTIME_ERROR { font-weight: bold; color: rgb(64, 196, 64); } */
/* a .submissionRUNTIME_ERROR { text-decoration: underline; } */
/* /* Time Limit Exceeded */ */
/* .submissionTIME_LIMIT_EXCEEDED { font-weight: bold; color: rgb(64, 64, 128); } */
/* /* Can't Be Judged */ */
/* .submissionCANT_BE_JUDGED { font-weight: bold; color: rgb(64, 255, 64); text-decoration: underline; } */
/* .submissionREJUDGE_REQUESTED{ color: silver; } */
/*  */
/* .problem_edit textarea, .forum_edit textarea, .forum_edit input, .problem_edit input { */
/*     width: 80%; */
/* } */
/* .problem_edit textarea#id_description, .forum_edit textarea { */
/*     height: 400px; */
/* } */
/*  */
/* .problems td, .problems th, .attachments td, .attachments th { */
/* 	height: 24px; */
/* 	font-size: 13px; */
/* } */
/*  */
/* .problems td.id, .problems td.name { text-align: left; } */
/*  */
/* .problems a { text-decoration: none; } */
/*  */
/* .attachments .dataTables_wrapper { min-height: 0px; } */
/* .attachments a { text-decoration: none; } */
/* .attachments td, .attachments th { */
/* 	text-align: left; */
/* 	margin-left: 8px; */
/* 	padding: 0; */
/* 	padding-left: 8px; */
/* } */
/* .attachments div.uploadbutton { */
/* 	margin-bottom: 16px; */
/* } */
/*  */
/* .submission-filter select { */
/* 	font-size: 12px; */
/* } */
/*  */
/* .submission-filter { */
/* 	margin-bottom: 200px; */
/* } */
/*  */
/* /* disable default li styling for chosen */ */
/* ul.chzn-results li { */
/* 	background-image: none; */
/* } */
