{% extends "judge-base.html" %}
{% load common_tags %}
{% block title %} 
	{{ title }}
{% endblock %}


{% block page_title %}
	{{ title }}
{% endblock %}

{% block page_tabs %}
{% endblock %}

{% block judge_submission_class %}current{% endblock %}
{% block page_contents %}
	{% load judge_tags %}
	<section>
		<table class="submission_list">
			<thead>
				<tr>
					<th class="id">#</th>
					<th class="problem">문제</th>
					<th class="user">제출자</th>
					<th class="language">언어</th>
					<th class="length">길이</th>
					<th class="state">결과</th>
					<th class="stats">수행시간</th>
					<th class="submitted_on">제출시간</th>
				</tr>
			</thead>
			<tbody>
				{% for sub in pagination.page.object_list %}
					<tr>
						<td class="id">
							{% if sub.is_public %}
								{{ sub.id }}
							{% else %}
								NP
							{% endif %}
						</td>
						<td class="problem"><a href="{{ sub.problem.get_absolute_url }}">{{ sub.problem.slug }}</a></td>
						<td class="user">{{ sub.user|print_username }}</td>
						<td class="language">
							{% if user == sub.user or user.is_superuser %}
								<a href="{% url judge-submission-details sub.id %}">
								{% endif %}					
								{{ sub.language }}
								{% if user == sub.user or user.is_superuser %}
								</a>
							{% endif %}					
						</td>
						<td class="length">{{ sub.length|print_length }}</td>
						<td class="state">
							<span class="submission_state submission{{ sub.name_eng }}">
								{% if sub.has_messages %}
									{% if user == sub.user or user.is_superuser %}
										<a href="{% url judge-submission-details sub.id %}">
									{% endif %}
								{% endif %}
								<span>{{ sub.name_kor }}</span>
								{% if sub.has_messages %}
									{% if user == sub.user or user.is_superuser %}
										</a>
									{% endif %}
								{% endif %}
							</span>
						</td>
						<td class="stats">
							{% if sub.has_run %}
								{{ sub.time }}ms
							{% endif %}
						</td>
						<td class="submitted_on">{{ sub.submitted_on|print_datetime}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
	<section class="pagination">
		{{ pagination.render }}
	</section>
	<section>
		<form method="GET" action="">
			<fieldset class="kor submission-filter">
				<legend>답안 필터</legend>
				<dl>
					<dt>
						문제
					</dt>
					<dd>
						<select name="problem" title="특정 문제의 답안만 보기" class="chzn-select">
							<option value=""></option>
							{% for problem in problems %}
								<option {% if problem.slug == filters.problem %}selected{% endif %} value="{{ problem.slug }}">{{ problem.slug }}</option>
							{% endfor %}
						</select>
					</dd>
					<dt>
						제출자
					</dt>
					<dd>
						<select name="user" title="특정 사용자의 답안만 보기" class="chzn-select">
							<option value=""></option>
							{% for user in users %}
								<option {% if user.username == filters.user %}selected{% endif %} value="{{ user.username }}">{{ user.username }}</option>
							{% endfor %}
						</select>
					</dd>
					<dt>
						적용
					</dt>
					<dd>
						<button type="submit">적용하기</button>
					</dd>
				</dl>
			</fieldset>
		</form>
	</section>
{% endblock %}
