{% extends "judge-base.html" %}
{% load common_tags %}
{% load guardian_tags %}
{% block title %} 
	{{ title }}
{% endblock %}


{% block page_title %}
	{{ title }}
{% endblock %}

{% block page_tabs %}
{% endblock %}

{% block judge_submission_class %}current{% endblock %}
{% block page_contents %}
	{% load judge_tags %}
	<section>
		<table class="submission_list">
			<thead>
				<tr>
					<th class="id">#</th>
					<th class="problem">문제</th>
					<th class="user">제출자</th>
					<th class="language">언어</th>
					<th class="length">길이</th>
					<th class="state">결과</th>
					<th class="stats">수행시간</th>
					<th class="submitted_on">제출시간</th>
				</tr>
			</thead>
			<tbody>
				{% for sub in pagination.page.object_list %}
					<tr>
						<td class="id">
							{% if sub.is_public %}
								{{ sub.id }}
							{% else %}
								NP
							{% endif %}
						</td>
						<td class="problem"><a href="{{ sub.problem.get_absolute_url }}">{{ sub.problem.slug }}</a></td>
						<td class="user">{{ sub.user|print_username }}</td>
						<td class="language">
							{% get_has_solved sub.problem by user as solved %}
							{% get_obj_perms user for sub.problem as "perm" %}
							{% if user == sub.user or perm or solved or user == sub.problem.user %}
								<a href="{% url "judge-submission-details" sub.id %}">
								{% endif %}					
								{{ sub.language }}
								{% if user == sub.user or user.is_superuser %}
								</a>
							{% endif %}					
						</td>
						<td class="length">{{ sub.length|print_length }}</td>
						<td class="state">
							<span class="submission_state submission{{ sub.name_eng }}">
								{% if sub.has_messages %}
									{% if user == sub.user or user.is_superuser or solved or user == sub.problem.user %}
										<a href="{% url "judge-submission-details" sub.id %}">
									{% endif %}
								{% endif %}
								<span>{{ sub.name_kor }}</span>
								{% if sub.has_messages %}
									{% if user == sub.user or user.is_superuser or solved %}
										</a>
									{% endif %}
								{% endif %}
							</span>
						</td>
						<td class="stats">
							{% if sub.has_run %}
								{{ sub.time }}ms
							{% endif %}
						</td>
						<td class="submitted_on">{{ sub.submitted_on|print_datetime}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
	<section class="pagination">
		{{ pagination.render }}
	</section>
	<section>
		<form method="GET" action="">
			<fieldset class="kor submission-filter">
				<legend>답안 필터</legend>
				<dl>
{% for field in filter_form %}
					<dt>
						<label>{{ field.label }}</label>
					</dt>
					<dd>
						{{ field }}
					</dd>
{% endfor %}
					<dt>적용</dt>
					<dd><button type="submit">적용하기</button></dd>
				</dl>
			</fieldset>
		</form>
	</section>
{% endblock %}
