{% extends "judge-base.html" %}
{% load common_tags %}
{% block title %} 
	{{ title }}
{% endblock %}


{% block page-title %}
	{{ title }}
{% endblock %}

{% block page-tabs %}
{% endblock %}

{% block page-contents %}
{% load judge_tags %}
<table class="submissions kor">
	<thead>
		<tr>
			<th class="id">#</th>
			<th class="problem">문제</th>
			<th class="user">제출자</th>
			<th class="language">언어</th>
			<th class="length">길이</th>
			<th class="state">결과</th>
			<th class="stats">시간/메모리</th>
			<th class="submitted_on">제출시간</th>
		</tr>
	</thead>
	<tbody>
		{% for sub in pagination.page.object_list %}
		<tr>
			<td class="id">{{ sub.id }}</td>
			<td class="problem"><a href="{{ sub.problem.get_absolute_url }}">{{ sub.problem.slug }}</a></td>
			<td class="user">{{ sub.user|print_username }}</td>
			<td class="language">
				{% if user == sub.user or user.is_superuser %}
				<a href="{% url judge-submission-details sub.id %}">
				{% endif %}					
					{{ sub.language }}
				{% if user == sub.user or user.is_superuser %}
				</a>
				{% endif %}					
			</td>
			<td class="length">{{ sub.length|print_length }}</td>
			<td class="state">{{ sub.get_state_name }}</td>
			<td class="stats">
				{% if sub.has_run %}
					{{ sub.time }}ms/{{ sub.memory }}KB
				{% endif %}
			</td>
			<td class="submitted_on">{{ sub.submitted_on|print_datetime}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</section>
</article>
<article>
	{{ pagination.render }}
{% endblock %}
