{% extends "forum-base.html" %}
{% block title %} 
	{{ category.name }}
{% endblock %}


{% block page-title %}
	{{ category.name }}
{% endblock %}

{% block forum-write-class-tabs %}{% endblock %}

{% block page-contents %} 
{% load common_tags %}
{% load comments %}
<ul class="kor">
	{% for post in page.object_list %}
		<li class="">		
			<a href="{% url forum-read post.id %}">{{ post.title }}</a> |
			{{ post.created_on|print_datetime }} |
			{{ post.user|print_username }} |
			{% get_comment_count for post as cc %} 댓글 {{ cc }} 개
		</li>
	{% endfor %}
</ul>
{% endblock %}

{% block other-blocks %}
<div class="pagination">
    <span class="step-links">
		{% if page_lo != 1 %}
		<a href="{% url forum-list category.slug 1 %}">1</a>
		...
		{% endif %}
		{% for pg in page_nav_range %}
			<a href="{% url forum-list category.slug pg %}" class="{% if pg == page.number %}selected{% endif %}">{{ pg }}</a>
		{% endfor %}
		{% if page_hi != page.paginator.num_pages %}
		...
		<a href="{% url forum-list category.slug page.paginator.num_pages %}">{{page.paginator.num_pages}}</a>
		{% endif %}
    </span>
</div>

{% endblock %}

{% block page-footer %}
{% endblock %}

