{% extends "forum-base.html" %}
{% block title %} 
	{{ category }}: {{ action }}
{% endblock %}


{% block page_title %}
	{{ category }}: {{ action }}
{% endblock %}

{% block forum_write_class %}current{% endblock %}
{% block page_contents %} 
	<section>
		<div class="forum_edit">
			<form action="" method="post">
				{% csrf_token %}
				<fieldset class="kor">
					<legend>{{ action }}</legend>
					{% include "print_form.html" %}
				</fieldset>
				<button type="submit">Submit</button> 
			</form>
		</div>
	</section>
{% endblock %}

{% block other_blocks %}

	{% include "markdown_cheatsheet.html" %}

{% endblock %}

{% block page_footer %}
{% endblock %}

