{% extends "forum-base.html" %}
{% block title %} 
	{{ category }}: {{ action }}
{% endblock %}


{% block page_title %}
	{{ category }}: {{ action }}
{% endblock %}

{% block forum_write_class %}current{% endblock %}
{% block page_contents %} 
	<section class="forum-edit">

		<div id="cpp-code-warning" class="notification error kor">
			<p>게시물에 C++ 소스 코드를 올릴 때는 아래와 같은 문법을 써서 구문 강조를 해 주세요.</p>

			<p class="monospace">
				(빈 줄)<br>
				~~~ c++<br>
				(C++ 소스 코드)<br>
				~~~
				(빈 줄)
			</p>
		</div>
			
		<form action="" method="post" id="forum-write">
			{% csrf_token %}
			<fieldset class="kor">
				<legend>{{ action }}</legend>
				{% include "print_form.html" %}
			</fieldset>
			<button type="submit">Submit</button> 
		</form>
	</section>

	<script language="javascript">
		$(function() {
			var editor = mirrorize('id_text', { fullscreen: true, preview: true, cheatsheet: 'markdown-cheatsheet', submit_handler: true });
			$('#id_category').change(function() {
			    if (editor.getValue() != '')
			        return;
				var cat = $(this);
				var val = cat.val();
				var update_value = function(id, slug) {
					if (val != id)
					    return;
                    $.ajax({
                        url: '/static/forum-templates/' + slug + '.txt',
                        type: 'GET',
                        dataType: 'text',
                        success: function(data) {
                            if (cat.val() != id)
                                return;
                            editor.getDoc().setValue(data);
                            var btn = $('#id_text ~ .editor-config > .edit-preview');
                            btn.click();
                            if (btn.hasClass('edit'))
                                btn.click();
                        }
                    });
				};
				{% for row in categories %}
				    update_value({{row.id}}, '{{row.slug}}');
				{% endfor %}
			}).change();
		});
	</script>
{% endblock %}

{% block other_blocks %}

	{% include "markdown_cheatsheet.html" %}

{% endblock %}

{% block page_footer %}
{% endblock %}

