{% extends "wiki-base.html" %}
{% load common_tags %}
hello hahaha
{% block title %} 
	{{ title }} 
{% endblock %}


{% block page_title %}
	{{ title }}
{% endblock %}

{% block page_contents %} 
	<section>
		<div class="wiki-text">
			{{ text|render_text }}
		</div>
	</section>
{% endblock %}

{% block page_footer %}
	<p class="kor">
		페이지가 마지막으로 {{ modified|print_datetime }}에 수정되었습니다.
	</p>
{% endblock %}

{% block other_blocks %}
	{% with commentobject=page %}
		{% include "comment_block.html" %}
	{% endwith %}
{% endblock %}

{% block wiki_read_class %}default-tab{% endblock %}
