{% extends "wiki-base.html" %}
hello hahaha
{% block title %} 
	{{ slug }} 
{% endblock %}


{% block page_title %}
	{{ action }}: {{ title }}
{% endblock %}

{% block page_contents %} 
	<section>
		<div class="wiki-edit">
			<form action="" method="post" id="submit-form">
				{% csrf_token %}
				<fieldset>
					<legend>편집하기</legend>
					{% include "print_form.html" %}
				</fieldset>
				<button type="submit">Submit</button> or <a href="{% url wiki-detail slug %}">Cancel</a>
			</form>
		</div>
	</section>

	<script language="javascript">
		$(function() {
			aceize('id_text', { fullscreen: true, preview: true, cheatsheet: 'markdown-cheatsheet', submit_handler: true });
		});
	</script>
{% endblock %}

{% block other_blocks %}

	{% include "markdown_cheatsheet.html" %}

{% endblock %}

{% block page_footer %}
	Page is last modified on {{ modified }}
{% endblock %}

{% block wiki_edit_class %}default-tab{% endblock %}
