{
	admin off
}

{$ALGOSPOT_SITE_ADDRESS:http://:80} {
	encode zstd gzip

	handle_path /static/* {
		root * /srv/static
		file_server
	}

	handle_path /media/* {
		root * /srv/media
		file_server
	}

	handle {
		reverse_proxy web:8000
	}

	header {
		-Server
		X-Content-Type-Options nosniff
		Referrer-Policy same-origin
		X-Frame-Options DENY
	}

	log {
		output stdout
		format console
	}
}

