Django==5.2.5
Pillow==11.3.0
Pygments==2.19.2
Whoosh==2.7.4
django-avatar==9.0.0
django-contrib-comments==2.2.0
django-guardian==3.3.3
django-haystack==3.4.0
django-registration==5.2.1
django-tagging==0.5.0
icalendar==6.3.1
misaka==2.1.1
psycopg[binary]==3.2.9
