{% extends "base.html" %}
{% block title %} 
	뉴스 피드
{% endblock %}
{% block page-title %}
	뉴스 피드 
{% endblock %}
{% block breadcrumbs %}
	{% for link, title in breadcrumbs %}
	<li>{% if link %}<a href="{{ link }}">{% endif %}
		{{ title }}
		{% if link %}</a>{% endif %}
	</li>
	{% endfor %}
{% endblock %}
{% block newsfeed-class %}current{% endblock %}
{% block page-contents %} 
	{% load avatar_tags %}
	{% load common_tags %}
	{% load newsfeed_tags %}

	<ul class="comments">
		{% for user, actions in aggregated_actions.iteritems %}
		<li class="comment">
			<dl>
				<dt class="comment_user">
					{% avatar user 45 %}<br/>
					{{ user|print_username }}
				</dt>
				<dd class="comment_content">
					<ul class="newsfeed kor">
						{% for action in actions %}
						<li class="{{ action|determine_action_type }}">
							<span class="newsfeed-timestamp">{{ action.timestamp|print_datetime }}</span>
							<p>
								{{ action|format_action }}
							</p>
						</li>
						{% endfor %}
					</ul>
				</dd>
			</dl>
		</li>
		{% endfor %}
	</ul>
</article>
<article>
	<div class="pagination">
		<span class="step-links">
			{% if page_lo != 1 %}
			<a href="{% url newsfeed 1 %}">1</a>
			...
			{% endif %}
			{% for pg in page_nav_range %}
				<a href="{% url newsfeed pg %}" class="{% if pg == page.number %}active_link{% endif %}">{{ pg }}</a>
			{% endfor %}
			{% if page_hi != page.paginator.num_pages %}
			...
			<a href="{% url newsfeed page.paginator.num_pages %}">{{page.paginator.num_pages}}</a>
			{% endif %}
		</span>
	</div>

{% endblock %}

