{% load avatar_tags %}
{% load common_tags %}
{% load	newsfeed_tags %}
	<ul class="comments background-color">
		{% for author, actions in actions|aggregate_by_user %}
			<li class="comment">
				<dl>
					<dt class="comment_user">
						{% avatar author 45 %}<br/>
						{{ author|print_username }}
					</dt>
					<dd class="comment_content">
						<ul class="newsfeed kor">
							{% for action in actions %}
								<li class="{{ action.type }}">
									<span class="newsfeed-timestamp">{{ action.timestamp|print_datetime }}</span>
									<p>
										{% render_activity activity=action user=user %}
									</p>
								</li>
							{% endfor %}
						</ul>
					</dd>
				</dl>
			</li>
		{% endfor %}
	</ul>

