{% extends "wiki-base.html" %}
hello hahaha
{% block title %} 
	{{ slug }} 
{% endblock %}


{% block sub-breadcrumbs %}
<li><a href="{% url wiki-detail page.slug %}">{{ page.title }}</a></li>	
<li>편집하기</li>	
{% endblock %}

{% block page-title %}
	Edit: {{ page.title }}
{% endblock %}

{% block page-contents %} 
<div class="wiki-edit">
	<form action="" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>편집하기</legend>
			{% for field in form %}
			<dl>
				<dt>
					<label>
						{{ field.label_tag }}
					</label>
				</dt>
				<dd>
					{{ field }}
					{% if field.errors %}
					<span class="invalid-side-note">
					{{ field.errors }}
					</span>
					{% endif %}
				</dd>
			</dl>
			{% endfor %}
		</fieldset>
		<button type="submit">Submit</button> or <a href="{% url wiki-detail page.slug %}">Cancel</a>
	</form>
</div>
{% endblock %}

{% block page-footer %}
Page is last modified on {{ page.modified_on }}
{% endblock %}

{% block wiki-edit-class %}default-tab{% endblock %}
