{% extends "wiki-base.html" %}
hello hahaha
{% block title %} 
	{{ slug }} 
{% endblock %}


{% block page-title %}
	{{ action }}: {{ title }}
{% endblock %}

{% block page-contents %} 
<div class="wiki-edit">
	<form action="" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>편집하기</legend>
			{% include "print_form.html" %}
		</fieldset>
		<button type="submit">Submit</button> or <a href="{% url wiki-detail slug %}">Cancel</a>
	</form>
</div>
{% endblock %}

{% block other-blocks %}

{% include "markdown_cheatsheet.html" %}

{% endblock %}

{% block page-footer %}
Page is last modified on {{ modified }}
{% endblock %}

{% block wiki-edit-class %}default-tab{% endblock %}
