{% extends "registration/registration_base.html" %}
{% block page-title %}비밀 번호 리셋{% endblock %}
{% block title %}Reset password{% endblock %}
{% block page-contents %} 
	<section>
		<p class="kor">
			이메일 주소를 입력하시면 비밀 번호 리셋 메일을 발송해 드립니다.
		</p>
	
		{% include "print_non_field_error.html" %}
	
		<form action="" method="post">
			{% csrf_token %}
			<fieldset class="kor">
				{% include "print_form.html" %}
			</fieldset>
			<button type="submit">Submit</button> 
		</form>
	</section>
{% endblock %}
