{% extends "registration/registration_base.html" %}
{% block title %}Sign in{% endblock %}
{% block page-title %}알고스팟 회원 로그인{% endblock %}
{% block breadcrumbs %}
<li>로그인</li>
{% endblock %}
{% block page-contents %} 
<div class="signin-form">
	<form method="post" action="">
		{% csrf_token %}
		<fieldset class="kor">
			<legend>로그인하기</legend>
			{% for field in form %}
			<dl>
				<dt>
					<label>
						{{ field.label_tag }}
					</label>
				</dt>
				<dd>
					{{ field }}
					{% for error in field.errors %}
					<span class="invalid-side-note">
						{{ error }}
					</span>
					{% endfor %}
				</dd>
			</dl>
			{% endfor %}
		</fieldset>
		<button type="submit">Sign In</button> 
		<input type="hidden" name="next" value="{{ next }}" />
	</form>

	<ul class="kor">
		<li>비밀번호를 잊으셨나요? <a href="{% url auth_password_reset %}">리셋하기</a></li>
		<li>회원이 아니신가요? <a href="{% url registration_register %}">회원 가입하기</a></li>
	</ul>
{% endblock %}
