{% extends "registration/registration_base.html" %}
{% block page-title %}비밀 번호 리셋{% endblock %}
{% block title %}Reset password{% endblock %}
{% block page-contents %} 
	<p class="kor">
		이메일 주소가 확인되었습니다. 새 비밀 번호를 입력해 주세요.
	</p>

	<form action="" method="post">
		{% csrf_token %}
		<fieldset class="kor">
			{% for field in form %}
			<dl>
				<dt>
					<label>
						{{ field.label_tag }}
					</label>
				</dt>
				<dd>
					{{ field }}
					{% for error in field.errors %}
					<span class="invalid-side-note">
						{{ error }}
					</span>
					{% endfor %}
				</dd>
			</dl>
			{% endfor %}
		</fieldset>
		<button type="submit">Submit</button> 
	</form>
{% endblock %}
