{% extends "base.html" %}
{% block calendar_class %}current{% endblock %}
{% block page_title %}알고스팟 캘린더 {% endblock %}
{% block title %}알고스팟 캘린더 {% endblock %}
{% block page_contents %}
	<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bri4gtt0v3g5vobd7bp3ckue2g5m7qa9%40import.calendar.google.com&amp;color=%23A32929&amp;ctz=Asia%2FSeoul" style=" border-width:0 " width="670" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %}
