{% extends "base.html" %}
{% block title %}Matchup{% endblock %}
{% block page_title %} Matchup - {{ user1.username }} vs. {{user2.username}} {% endblock %}
{% block page_contents %}
{% load common_tags %}
{% load avatar_tags %}
<section class="profile">
      <div>
        {% avatar user1 100 %}
      </div>
      <div style="margin-top:32px;">
        vs.
      </div>
      <div>
        {% avatar user2 100 %}
      </div>
</section>

<section class="solved_problem_list">
  <h3> 두 사용자가 동시에 푼 문제 - {{ solved_both|length }} 문제</h3>
  <div>
    {% for sol in solved_both %}
    <a href="/judge/problem/read/{{sol.slug}}">{{ sol.slug }}</a>
    {% endfor %}
  </div>

</section>

<section class="solved_problem_list">
  <h3>{{ user1.username }}만 푼 문제 - {{ solved_user1|length }} 문제</h3>
  <div>
    {% for sol in solved_user1 %}
      <a href="/judge/problem/read/{{sol.slug}}">{{ sol.slug }}</a>
    {% endfor %}
  </div>
</section>

<section class="solved_problem_list">
  <h3>{{ user2.username }}만 푼 문제 - {{ solved_user2|length }} 문제</h3>
  <div>
    {% for sol in solved_user2 %}
    <a href="/judge/problem/read/{{sol.slug}}">{{ sol.slug }}</a>
    {% endfor %}
  </div>
</section>

{% endblock %}
