{% extends "base.html" %}
{% block title %}{{ profile_user.username }} {% endblock %}
{% block page_title %}{{ profile_user.username }}{% endblock %}
{% block page_contents %}
	{% load common_tags %}
	{% load avatar_tags %}
	<section class="profile">
		{% avatar profile_user 120 %}
		<div>
			<blockquote class="speech">
				{{ profile_user.get_profile.intro }}
			</blockquote>
			<ul class="tabular user_stats">
				<li class="header">
					<ul>	
						<li class="joined">회원 가입</li>
						<li class="articles">쓴 글 수</li>
						<li class="comments">코멘트 수</li>
						<li class="solved" >푼 문제 수</li>
						<li class="problems">출제한 문제 수</li>
					</ul>
				</li>
				<li class="content">
					<ul>	
						<li class="joined">{{ profile_user.date_joined|print_datetime }}</li>
						<li class="articles"><a href="{% url forum-byuser profile_user.id %}">{{ post_count }}개</a></li>
						<li class="comments">{{ comment_count }}개</li>
						<li class="solved" >{{ profile_user.get_profile.solved_problems }}개</li>
						<li class="problems">{{ problem_count }}개</li>
					</ul>
				</li>
			</ul>
		</div>

<!--		<dl>-->
<!--			<dt class="profile_picture">{% avatar profile_user 120 %}</dt>-->
<!--			<dd>-->
<!--				<ul class="tabular user_profile">-->
<!--					<li class="header">-->
<!--						<ul>	-->
<!--							<li>회원 가입일</li>-->
<!--							<li>쓴 글 수</li>-->
<!--							<li>코멘트 수</li>-->
<!--							<li>푼 문제 수</li>-->
<!--							<li>출제한 문제 수</li>-->
<!--						</ul>-->
<!--					</li>-->
<!--				</ul>-->
<!--				<p>-->
<!--					{{ profile_user.date_joined|print_datetime }}에 회원으로 가입해서, -->
<!--					<a href="{% url forum-byuser profile_user.id %}">{{ post_count }}개의 글</a>을 쓰고-->
<!--					{{ comment_count }}개의 코멘트를 달고-->
<!--					{{ profile_user.get_profile.solved_problems }}개의 문제를 풀었습니다.-->
<!--				</p>-->
<!---->
<!--				<ul class="profile_achievements">-->
<!--					{% for achievement in achievements %}-->
<!--					<li>-->
<!--						<span rel="tooltip" title="{{ achievement.description }}">{{ achievement.name }}</span>-->
<!--					</li>-->
<!--					{% endfor %}-->
<!--				</ul>-->
<!--			</dd>-->
<!--		</dl>-->
	</section>

	<section>
		<h3>온라인 저지 통계</h3>
	</section>

{% endblock %}
